<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1>Log in or Sign up!</h1>

    <form action="/sign-up" method="get">
        <button class= "sign" type="submit">Sign Up!</button>
    </form>

    <form action="/sign-in" method="get">
        <button class= "sign" type="submit">Sign In!</button>
    </form>

</body>
</html>
